.cta {
  padding: 40px 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    margin-right: 20px;
    max-width: 50%;
  }

  div {
    text-align: right;
    max-width: 50%;
    padding-left: 20px;

    a {
      padding: 10px 20px;
      color: white;
      background-color: $dark-blue;
      border-radius: 5px;

      &:hover {
        background-color: darken($dark-blue, 10%);
      }
    }
  }
}
