footer {
  background-color: $light-blue;

  .footer-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;

    nav ul {
      display: flex;
      gap: 20px;

      li a {
        &:hover {
          color: $grey;
        }
      }
    }
  }
}
