$text: #1A8198;
$hover: #A1A1A1;
$second: #26A4BF;
$button: #1A8198;
$button2: #E8E36D;



.second-color {
  color: $text;
}

body {
  font-family: Roboto Light, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;

  h1{
    font-size: 20px;
  }

  nav ul {
    display: flex;
    gap: 20px;

    li a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: $hover;
      }
    }
  }
}

.welcome {
  text-align: center;
  padding: 40px;

  h2 {
    font-size: 32px;
  }
}

.content-section {
  display: flex;
  padding: 40px 0;
  justify-content: space-around;
  img {
    max-width: 100%;
    height: auto;
  }
  div {
    text-align: center;
    max-width: 300px;
  }

  a {
    padding: 10px 20px;
    color: white;
    background-color: $button;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
      background-color: darken($button, 10%);
    }
  }
}

.breaker {
  padding: 40px;
  background-color: $second;
  color: white;
  display: flex;


  img {
    margin-right: 20px;
    max-width: 50%;
    height: auto;
  }

  div {
    text-align: right;
    max-width: 50%;
    padding-left: 20px;
  }

  a {
    padding: 10px 20px;
    background-color: $button2;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
      background-color: darken($button2, 10%);
    }
  }
}

.cta {
  padding: 40px;
  display: flex;

  img {
    margin-right: 20px;
    max-width: 50%;
    height: auto;
  }

  div {
    text-align: right;
    max-width: 50%;
    padding-left: 20px;
  }

  a {
    padding: 10px 20px;
    color: white;
    background-color: $button;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
      background-color: darken($button, 10%);
    }
  }
}

footer {
  background-color: $second;

  .footer-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  .footer-links {
    display: flex;
    justify-content: space-between;

    nav ul {
      display: flex;
      gap: 20px;

      li a {
        text-decoration: none;
        color: #000;
        &:hover {
          color: $hover;
        }
      }
    }
  }


}